<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>superAdmin</title>
</head>
<body>
<div class="container-fluid superAdmin">
    <div class="row">
        <div class="col">
            <div class="row cover">
                <div class="col form1">
                    <h2>REGISTER</h2>
                    <div class="form-group">
                        <label></label>
                        <input class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label></label>
                        <input class="form-control" placeholder="Fullname">
                    </div>
                    <div class="form-group">
                        <label></label>
                        <input class="form-control" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <label></label>
                        <input class="form-control" placeholder="Age">
                    </div>
                    <div class="form-group">
                        <label></label>
                        <input class="form-control" placeholder="Hobby">
                    </div>
                    <button type="submit" class="btn btn-primary button">INPUT DATA</button>
                </div>    
                <div class="col form2">
                    <h2>FIND USER NAME</h2>
                    <div class="form-group">
                        <label></label>
                        <input type="email" class="form-control" placeholder="Username" id="userAdmin">
                    </div>            
                    <button type="submit" class="btn btn-primary button">FIND</button>
                </div>
            </div>
        </div>     
    </div>
</div>

<script src="/js/script.js"></script>
</body>
</html>